// 한 줄 주석입니다. -> 협업할 때만, css로 변환될 때는 사라짐. 민감한 사항은 한줄 주석이 좋음.
/* 여러 줄 주석입니다. */
ul {
    li {
        color: red;
        font-size: 10px;
    }
}

.one {
    color: red;
    .two {
        color: green;
        .three {
            color: blue;
        }
        .four {
            color: black;
        }
    }
}