body {
    background-color: white;
}
table {
    margin: 0 auto;
}
.year {
    /* display: block; */
    padding: 25px;
}
.year-text{
    color: brown;
    font-size: 120px;
    font-weight: bolder;
    float: left;
}
.text{
    color: gray;
    font-weight: bold;
    float: right;
    /* padding-top: 50px; */
    margin-top: 80px;
}
.box{
    display: inline-block;
    height: 250px;
    margin: 0 20px;
    font-weight: bold;
}
.month{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    padding: 10px;
}
.day {
    width: 40px;
}
.SUN, .holiday{
    color: red;
}
td, th{
    text-align: center;
    padding: 5px;
}

td:not(.box):hover {
    background-color: lightblue;
}